; This is the contract settings.
; - addresss: the contract address to watch the events for
; - abi: the abi for the contract
; - birth_block: the block the contract was deployed on
[contract]
address = 0x0000000000000000000000000000000000000000
abi = ''
birth_block = 0

; This is the storage settings.
; - file: the path to the place we store the events
[storage]
path = "./data/events.json"

; This is the web3 settings
; - provider: the provider url (get one at infura.io)
; - provider_type: the type of provider, either http or ws
[web3]
provider = ''
provider_type = 'http'

; This is the ipfs settings
; - node: the domain name of the node
; - port: the port for the ipfs server
; - protocol: the protocol to communicate with the server
[ipfs]
node = ipfs.infura.io
port = 5001
protocol = 'https'